body {
  font-family: 'freight-sans-pro', sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #00232e;
}
h1, h2, h3 {
  font-family: 'freight-sans-pro', sans-serif;
  font-weight: 600;
  color: #009879;
}
h1>*, h2>*, h3>* {
  vertical-align: middle;
}
.remark-slide-content a {
  font-size: 24px;
  font-weight: 600;
  color: #009879;
}

.remark-container{
  background-color: #e1e1e1;
}

.remark-slide-content{
  font-size: 28px;
}

.box {
  padding: 40px;
  background-color: #e1e1e1;
}

.remark-slide>.center ul,
.remark-slide>.center ol{
  margin: 0 auto;
  padding: 20px;
  width: fit-content;
  text-align: left;
  list-style-position: outside;
}